body{
    background: rgb(124, 122, 122);
    color: white;
}
.nav{
    background: black;
}
.login{
    margin-top: 25%;
    align-items: center;
    display: flex;
    justify-content: center;
}
.login button{
    margin-top: 10px;
    background: none;
    border: red 1px solid;
}
.inscription{
    margin-top: 25%;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.inscription div{
    display: flex;
    flex-direction: column;
}
.inscription button{
    margin-top: 10px;
    background: none;
    border: red 1px solid;
}
.edituser{
    width: 25%;
    margin: 0 auto;
    margin-top: 15%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.edituser div{
    display: flex;
    flex-direction: column;
}
.edituser button{
    margin-top: 10px;
    background: none;
    border: red 1px solid;
}
.edituser a{
    margin-top: 10px;
    color: white;
}
#edit_user_roles{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.media-body{
    margin-bottom: 15px;
    border-bottom: 1px solid white;
    padding-bottom: 15px;
}
.media-body a{
    color: rgb(77, 5, 5);
}