{% extends 'base.html.twig' %}

{% block title %}Créer le commentaire{% endblock %}

{% block body %}
    <div class='edituser'>
        <h1>Créer le commentaire</h1>
        {{ form(commentForm) }}
        <a href="{{ path('backoffice_index') }}">Retour à la liste</a>
    </div>
{% endblock %}
